<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/assets/stylesheets/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/jquery.dataTables.min.css">
        <link href="/assets/stylesheets/icon.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/stylesheets/menu.css">
        <title>index</title>
    </head>
    <body>
        <header>
            
            
            <div class='container'>
                <img src="/assets/images/postgresql.png">
              <nav>
                <div class="class-wrapper">
                    <a href="/" class="brand-logo"><i class="material-icons">replay</i></a>
                        <ul id="nav-mobile" class="right">
                          <li><a id="insertar">INSERTAR</a></li>
                          <li><a id="listar">LISTAR</a></li>
                          <li><a id="buscar"><input id="inputBuscar" type="text" value="" placeholder="buscar..."><i class="material-icons right">search</i></a></li>
                        </ul>
                </div>
               </nav>
            </div>   
        </header>
        
        <div class="valor"> </div>
        <table id="listado" class="display dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>APELLIDOS</th>
                <th>BORRAR</th>


            </tr>
        </thead>
        <tfoot>
            <tr>

                <th></th>
                <th></th>
                <th></th>
                <th></th>

 
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>

        </tbody>
    </table>
        
        
        
        
      
        <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2025 ChorriRight Code  <small>con el apollo-campero de O.D.P.</small>
        </div>
          </div>
            </footer>
        <script src="/assets/javascripts/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/assets/javascripts/jquery.cookie.min.js"></script>
        <script type="text/javascript" charset="utf8" src="/assets/javascripts/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/assets/javascripts/javascript.js"></script>

    </body>
</html>
