
    <header>
        <h1>Base de Datos PostgreSql</h1>
        <div class='container'> 
          <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li><button  id="insertar" name='insertar' value='insertar'>insertar</button></li>
                      <li><a id="listar" name='listar' value='listar'>listar</a></li>
                      <li><button  id="buscar" name='buscar' value='buscar'>buscar</button></li>
                    </ul>
                  </div><!-- /.navbar-collapse -->    
                </div>
            </div>
           </nav>
        </div>
    </header>
  <div class=".valor"></div>



